$minions-yellow: #F4E04D;
$mayonnaise: #F1EAD4;
$piggy-pink: #FF99EE;
$dark-pink: #df4bdd;
$chocolate: #392C2E;

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $dark-pink;
  opacity: 0.8;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  margin-top: 120px;

  p {
    color: $mayonnaise;
    text-decoration: none;
    margin:5px 0px 0px;
  }

  .footer-links a {
    margin: 0px 25px 0px;
    text-decoration: none;
    color: $mayonnaise
  }
}
