$minions-yellow: #F4E04D;
$mayonnaise: #F1EAD4;
$piggy-pink: #FF99EE;
$dark-pink: #df4bdd;
$chocolate: #392C2E;

// See: https://sass-lang.com/

body,
html {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
