$minions-yellow: #F4E04D;
$mayonnaise: #F1EAD4;
$piggy-pink: #FF99EE;
$dark-pink: #df4bdd;
$chocolate: #392C2E;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-color: $dark-pink;
  background: linear-gradient(180deg, #ff99ee, #f074e5, #df4bdd);


//  ==== START OF HARDCODED CONTENT (treats) ====
  .cuisine-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    h1 {
      color: $chocolate;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 72px;
      margin:0;
      padding: 25px;
      line-height: 0.8;
    }
  }

  .restaurant-container {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 850px) {
      overflow-x: scroll;
    }

    h1 {
      color: $mayonnaise;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 72px;
      margin:0;
      padding: 0;
      line-height: 0.8;
    }

    article {
      padding:0px 15px 0px;
      flex-grow: 1;
      p {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 36px;
        line-height: 0.8;
        margin:0;
      }
    }

    .featured-restaurant {
      text-align: left;
      padding: 0;
      p {
        color: $chocolate;
      }
    }

  }
  .article-img {
    // max-width: 200px;
    padding: 5px;
    -webkit-filter: drop-shadow(0px 0px 40px #222);
    filter: drop-shadow(0px 0px 40px #F1EAD4);
  }

// ==== END OF HARDCODED CONTENT ====




  main {
    margin-top: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    margin: 0;
    overflow: hidden;

    -webkit-filter: drop-shadow(0px 0px 40px #222);
  filter: drop-shadow(0px 0px 40px #F1EAD4);

    // h2.rest-name {
    //   padding-top: 0.5em;
    //   margin-bottom: 0;
    //   z-index: 99;
    //   color:green;
    // }

    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 75%;
      padding: 20px;
      border-radius: 3px;
      background-color: $piggy-pink;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      font-family: 'Bebas Neue', sans-serif;

      h1 {
        font-size: 16px;
      }
      form div input {
        border: none;
        background:$minions-yellow;
        font-family: 'Courier New', Courier, monospace;
      }

      // .login-btn {
      //  font-family: 'Bebas Neue', sans-serif;
      // }
    }

    .register-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 75%;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .addToCart {
      border-radius: 50px;
    }

    .menu-options-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2em;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
      overflow: hidden;

      .menu-item {
        padding: 1em;
      }
    }

    .previous-orders-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1em;
      width: 100%;
      background-color: #F1EAD4;
      margin-bottom: 1em;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
      overflow: hidden;

      .previous-order {
        padding: 1em;
      }

      .previous-orders-list {
        display: flex;
        justify-content: space-around;
        gap: inherit;
        margin-left: 3em;
        margin-right: 3em;
        width: 100%;
        margin-right: 10px;
        flex-direction: column;
      }
    }

    .mainSummary {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      display: flex;
      background-color: rgb(43, 41, 41);
      margin-top: 1.25em;
      margin-right: 0.25em;
      margin-bottom: 1.25em;
      margin-left: 0.25em;
      border-style: solid;
      border-color: rgb(54 54 54);
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      width: 1000px;
      height: 1000px;
    }

    .left {
      justify-content: space-between;
      justify-content: 50%;
      flex-direction: column;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    .right {
      width: 50%;
      height: 90%;
      overflow: scroll;
    }
    .orderinfo {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
    .summaryHeader {
      width: 100%;
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

  }
}
