.owner-dashboard-container {
  min-width: 500px;
  max-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

  .owner-dash-header {
    align-self: flex-start;
  }

  // create a grid that is 2 row, 7 columns wide
  // all columns should space 2 rows except for the last two columns
  .owner-dash-grid-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "dash-header dash-header dash-header dash-header dash-header dash-header dash-header"
      "dash-body dash-body dash-body dash-body dash-body dash-body dash-body";
    grid-gap: 1em;
    margin-top: 1em;
    width: 100%;
  }

  .single-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}