$minions-yellow: #F4E04D;
$mayonnaise: #F1EAD4;
$piggy-pink: #FF99EE;
$dark-pink: #df4bdd;
$chocolate: #392C2E;

.owner-dashboard-container {
  font-family: 'Bebas Neue', sans-serif;
  color: $chocolate;
  min-width: 500px;
  max-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

  .owner-dash-header {
    align-self: flex-start;
    color: $mayonnaise;
  }

  .owner-dash-grid-col-header {
    align-self: flex-start;
  }

  // create a grid that is 2 row, 7 columns wide
  // all columns should space 2 rows except for the last two columns
  .pending-orders-rows-cols {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 4fr 6fr 2fr 2fr 3fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
    width: 100%;
    border-bottom: 2px solid grey;
  }

  .grid-item-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quantity-itemName-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
  }

  .pickup-time-input {
    width: 75px;
  }

  .items-list {
    margin-left: 4em
  }

  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-text-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }



}





.owner-current-orders {
  min-width: 500px;
  max-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

  .current-header {
    align-self: flex-start;
  }

  .current-orders-first-row {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
    width: 100%;
    border-bottom: 2px solid grey;
  }

  .current-single-item-row {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 2fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
    width: 100%;
    border-bottom: 2px solid grey;
  }

  .quantity-itemName-container {
    display: flex;
    gap: 4;
    justify-content: center;
    align-items: center;
  }



  .items-list {
    margin-left: 4em
  }
}